.breadcrumbs {
  display: flex;
  align-items: center;

  height: 36px;
  margin-top: 40px;

  overflow-x: auto;
}

.item {
  display: flex;
  align-items: center;

  flex-shrink: 0;
}

.line {
  width: 16px;
  height: 1px;

  background-color: var(--border-color);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 8px 16px;

  border: 1px solid var(--border-color);
  border-radius: var(--radius-small);

  color: var(--gray-color);

  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-control);

  white-space: nowrap;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.link:hover {
  background-color: var(--light-gray-color);
}

.active {
  color: var(--text-color);
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .breadcrumbs {
    margin-top: 32px;
  }

  .link {
    padding: 8px 12px;

    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs {
    margin-top: 24px;
  }

  .link {
    padding: 8px 10px;

    font-size: 12px;
  }
}
