.categoryCard {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;

  color: var(--text-color);
}

.image {
  width: 100%;
  aspect-ratio: 316 / 350;

  border-radius: var(--radius-large);

  object-fit: cover;
}

.title {
  margin: 0;

  overflow: hidden;

  color: var(--text-color);

  font-size: 20px;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }
}
