.categoriesSection {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: 80px;
}

.categoriesList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;

  width: 100%;
}

/* Планшет */
@media (max-width: 1024px) {
  .categoriesSection {
    margin-top: 64px;
  }

  .categoriesList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .categoriesSection {
    gap: 32px;

    margin-top: 48px;
  }

  .categoriesList {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .categoriesSection {
    margin-top: 40px;
  }

  .categoriesList {
    grid-template-columns: minmax(0, 1fr);
  }
}
