.hero {
  width: 100%;
  height: min(41.6667vw, 600px);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding-top: 80px;
}

.title {
  max-width: 1360px;
  margin: 0;

  color: var(--white-color);

  font-size: 96px;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 218px;
  height: 58px;
  margin-top: 40px;
  padding: 16px 56px;

  border-radius: var(--radius-small);

  background-color: var(--primary-color);
  color: var(--white-color);

  font-size: 20px;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-text);
}

/* Планшет */
@media (max-width: 1024px) {
  .content {
    padding-top: 60px;
  }

  .title {
    font-size: 68px;
  }
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .hero {
    height: 420px;

    /* На мобильных устройствах допускаем контролируемое кадрирование */
    background-position: center center;
  }

  .content {
    padding-top: 48px;
  }

  .title {
    font-size: 48px;
  }

  .button {
    margin-top: 32px;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 400px;
  }

  .content {
    padding-top: 40px;
  }

  .title {
    font-size: 40px;
  }

  .button {
    min-width: 170px;
    padding: 16px 32px;
  }
}
