:root {
  /* Основные цвета макета */
  --primary-color: #0d50ff;
  --text-color: #282828;
  --gray-color: #8b8b8b;
  --border-color: #dddddd;
  --light-gray-color: #f1f3f4;
  --white-color: #ffffff;
  --success-color: #339933;
  --error-color: #d32f2f;
  --error-background-color: #fff1f1;
  --primary-dark-color: #2451c6;
  --danger-border-color: #ff8a8a;

  /* Типографика */
  --font-family-main: "Montserrat", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-heading: 110%;
  --line-height-text: 130%;
  --line-height-control: 126%;

  /* Размеры страницы */
  --page-width: 1440px;
  --container-width: 1360px;

  /* Скругления */
  --radius-small: 6px;
  --radius-large: 12px;

  /* Переходы */
  --transition-fast: 0.2s ease;

  --hero-ratio: 12 / 5;
}

.container {
  width: calc(100% - 80px);
  max-width: var(--container-width);

  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .container {
    width: calc(100% - 48px);
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .container {
    width: calc(100% - 32px);
  }
}
